@keyframes bounce-wave {
    0%,
    100% {
        height: 0.5rem; /* small */
    }
    50% {
        height: 2rem; /* tall */
    }
}

.wave-dot-1 {
    animation: bounce-wave 1.5s infinite ease-in-out;
}

.wave-dot-2 {
    animation: bounce-wave 1.3s infinite ease-in-out;
}

.wave-dot-3 {
    animation: bounce-wave 1.1s infinite ease-in-out;
}

.dots-loader {
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow:
            10px 0 #fff,
            -10px 0 #ffffff33;
        background: #fff;
    }
    33% {
        box-shadow:
            10px 0 #fff,
            -10px 0 #ffffff33;
        background: #ffffff33;
    }
    66% {
        box-shadow:
            10px 0 #ffffff33,
            -10px 0 #fff;
        background: #ffffff33;
    }
    100% {
        box-shadow:
            10px 0 #ffffff33,
            -10px 0 #fff;
        background: #fff;
    }
}

.rotate-clockwise {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 103, 49, 0.6);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(251, 103, 49, 0);
    }
}

.pulse-button {
    animation: pulse-glow 1.5s infinite;
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 103, 49, 0.6);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(251, 103, 49, 0);
    }
}

.pulse-button {
    animation: pulse-glow 1.5s infinite;
}

@keyframes pulse-glow-secondary {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 67, 122, 0.6);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(255, 67, 122, 0);
    }
}

.pulse-button-secondary {
    animation: pulse-glow-secondary 1.5s infinite;
}

@keyframes pulse-glow-calm {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 103, 49, 0.5);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(251, 103, 49, 0);
    }
}

.pulse-button-calm {
    animation: pulse-glow-calm 2s infinite;
}
